{{ $giscusCSS := resources.Get "css/giscus.css" }}
<script
    src="https://giscus.app/client.js"
    data-repo={{ .Site.Params.giscus.repo }}
    data-repo-id={{ .Site.Params.giscus.repo_id }}
    data-category={{ .Site.Params.giscus.category }}
    data-category-id={{ .Site.Params.giscus.category_id }}
    data-mapping={{ .Site.Params.giscus.mapping }}
    data-strict={{ .Site.Params.giscus.strict }}
    data-reactions-enabled={{ .Site.Params.giscus.reactions_enabled }}
    data-emit-metadata={{ .Site.Params.giscus.emit_metadata }}
    data-input-position={{ .Site.Params.giscus.input_position }}
    data-theme="{{ $giscusCSS.Permalink }}"
    data-lang={{ .Site.Params.giscus.lang }}
    data-loading={{ .Site.Params.giscus.loading }}
    crossorigin="anonymous"
    async
></script>
